VNC_PASSWORD=m8Q4v2Zp
START_URL=https://www.google.com/
SCREEN_WIDTH=1440
SCREEN_HEIGHT=900
SCREEN_DEPTH=24
NOVNC_BIND_ADDRESS=127.0.0.1
NOVNC_PORT=6080
CDP_BIND_ADDRESS=127.0.0.1
CDP_PORT=9222
CHROMIUM_FLAGS=
